<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>inspired words</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Bubbler+One|Vibur" rel="stylesheet">
    <style>
        body {background-color: lightblue}
        .red {color: red}
        .quotes {
            padding: 50px;
        }
        .emphasis {
            font-family: 'Bubbler One', serif;
        }
        .italicQuotes {
            font-family: 'Vibur', cursive;
        }
        .subForm {
            padding-top: 40px;
        }
        .deleteArea {
            padding-top: 40px;
        }

    </style>
</head>
<body class="container">

    <ul class="quotes">
        <% for(var i=0; i<quotes.length;i++) {%>
            <li class="quote">
                <span class="red"><%= quotes[i].author %></span>
                <span class="italicQuotes"><%= quotes[i].quote %></span>
            </li>
        <% } %>
    </ul>
    <h3>Add a new author and quote</h3>
    <form action="/quotes" method="POST">
        <input type="text" placeholder="name"  name="author">
        <input type="text" placeholder="quote" name="quote">
        <button class="btn btn-xs btn-success" type="submit">Submit</button>
    </form>

        <h3>Make some changes..</h3>

        <div class="emphasis">
            <div class="row">
                <div class="col-xs-6">
                    <h5>Which author to <span class="red">update?</span></h5>
                </div>
                <div class="col-xs-6">
                    <input type="text" placeholder="author's name" id="old_author" name="old_author">
                </div>
            </div>
        </div>

        <div class="subForm">
            <input type="text" placeholder="new author name" id="new_author" name="new_author">
            <input type="text" placeholder="new quote" id="new_quote" name="new_quote">
            <button class="btn btn-xs btn-warning" id="replaceLastQuote">Update that bad boy!</button>
        </div>

    <div class="deleteArea emphasis">
        <div class="row">
            <div class="col-xs-4">
                <h5>Which author to <span class="red">delete?</span></h5>
            </div>
            <div class="col-xs-4">
                <input type="text" placeholder="author to delete" id="delete_author" name="delete_author">
            </div>
            <div class="col-xs-4">
                <button class="btn btn-xs btn-danger" id="deleteQuote">Delete quote</button>
            </div>
        </div>
    </div>

  <script src="main.js"></script>
</body>
</html>